.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 10px;
}

.btn-pag {
	position: relative;
	background-color: #f0f8ff;
	color: #000000;
	display: grid;
	place-content: center;
}
