.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 10px;
}

.btn-pag {
	background-color: #f0f8ff;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0.5em;
}
